<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">{{'signin.Sign In' | translate}}</h5>
          <form class="form-signin" (ngSubmit)="onSignUp()">
            <div class="form-label-group">
              <input
                #emailX
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder="Email address"
                required
                autofocus
                [(ngModel)]="email"
              />
            </div>

            <div class="form-label-group">
              <input
                #passwordX
                type="password"
                id="password"
                name="password"
                class="form-control"
                placeholder="Password"
                required
                [(ngModel)]="password"
              />
            </div>

            <p *ngIf="errorMessage.length > 0" class="text-danger">
              {{ errorMessage }}
            </p>

            <p *ngIf="error.message.length > 0" class="text-danger">
              {{ error.message }}
            </p>

            <button
              type="submit"
              class="btn btn-lg btn-primary btn-block text-uppercase"
              (click)="authService.loginWithEmail(email, password)"
            >
               {{'signin.Sign' | translate}}
            </button>

            <button
              class="btn btn-link"
              (click)="authService.sendPasswordResetEmail(email)"
            >
              {{'signin.Forgot Password' | translate}}
            </button>

            <button
              class="btn btn-lg btn-primary btn-block text-uppercase"
              [routerLink]="['/signUp']"
            >
              {{'signin.Sign Up' | translate}}
            </button>
            <hr class="my-4" />
            <button
              class="btn btn-lg btn-google btn-block text-uppercase"
              (click)="authService.loginWithGoogle()"
            >
              <i class="fab fa-google mr-2"></i> {{'signin.Sign in with Google' | translate}}
            </button>
            <button
              class="btn btn-lg btn-facebook btn-block text-uppercase"
              (click)="authService.loginWithFacebook()"
            >
              <i class="fab fa-facebook-f mr-2"></i> {{'signin.Sign in with Facebook' | translate}}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
