<div id="contact" class="text-center d-flex flex-wrap align-content-center">
  <article class="col-sm-12 mb-5 ">
    <h2>{{ 'contact.Contact Information' | translate }}</h2>
  </article>

  <div class="row col-sm-12">
      <div class="location col-sm-12 col-md-4">
          <img src="../../assets/placeholder.png" alt="" class="mb-5">
          <h3> {{ 'contact.Address' | translate }} </h3>
          <p> {{ 'contact.50St' | translate }}</p>
        </div>
        <div class="call col-sm-12 col-md-4">
          <img src="../../assets/call.png" alt="" class="mb-5">
          <h3> {{ 'contact.Phone' | translate }} </h3>
          <h4> {{ 'contact.HOTLINE' | translate }}</h4>
          <p> {{ 'contact.19***' | translate }}</p>
        </div>
        <div class="email col-sm-12 col-md-4">
          <img src="../../assets/mail.png" alt="" class="mb-5">
          <h3>{{ 'contact.Email' | translate }}</h3>
          <a href="https://mail.google.com/mail"> dinaaid3@gimal.com </a>
        </div>
  </div>
</div>
