
<app-search></app-search>

<div id="page" class="text-center">
  <article>
    <h2> !كيفية البحث عن الدواء </h2>
    <p> شرح طريقة استخدام الموقع فى البحث عن الادويه وظهور معلومات حول الدواء المطلوب وطريقة حجالحجز والدفع</p>
  </article>
   <div class="bdel">
    <section></section>
    <h3> حجز الدواء </h3>
    <p>
        قم بعد ذلك بحجز الدواء وستتواصل الصيدلية معك وتدفع الأموال عند تلقي الدواء وتأكد من ذلك
    </p>
  </div>
  <div class="view">
      <section></section>
      <h3> اطلع  </h3>
      <p>
        سوف يظهر لك معلومات عن الدواء صورة الدواء وسعر الدواء والميه المتاحه من الدواء ومتوفر ام لا 
      </p>
    </div>
  <div class="Find">
      <section></section>
      <h3> ابحث عن الدواء  </h3>
      <p>
        ادخل اسم الدواء الذى تريد البحث عنه ثم اضغط على زرار البحث لتظهرلك النتائج 
      </p>
    </div>
  <div class="find">
    <input type="submit" value=" ابحث عن الدواء" routerLink="medicines">
  </div>
</div>
<!-- inf -->
<div class="inf container ">
  <div class="article row">
    <h2 class="col-sm-12"> معلومات عن الدواء </h2>
    <p class="col-sm-12"> (معلومات حول ما هو الدواء الاصلى والدواء المثيل (الجنيس</p>
  </div>
  <div class="row justify-content-between">
    <div class=" badel col-sm-5">
      <h3> الدواء الاصلى  </h3>
      <p> (إنه الدواء المبتكر الذي تم إنشاؤه بواسطة شركة الدواء بعد إجراء عملية تطوير وبحوث متقن وتحتفظ الشركة بحقوق التسويق لفترة محددة (براءة اختراع</p>
    </div>
    <div class=" badel col-sm-5">
      <h3> (الدواء المثيل (الجنيس </h3> 
      <p> يسمح للشركات الأخرى بإنتاج الدواء بأسماء تجارية مختلفة ، بعد فترة الحماية القانونية (17 - 20 سنة).
          عادة ما تكون الأسعار منخفضة لأن الشركة المصنعة لم تتحمل أي تكاليف بحثية.
      </p>
    </div>
  </div>
</div>

<div #ourServices id="ourServices" class="our container-fluid d-flex flex-row-reverse">
  <div class="Services container">
    <div class="row col-sm-12">
      <h2> خدمات اخرى </h2>
    </div>
    <div class="row">
      <div class="media col-sm-12 col-md-12 col-lg-6 d-flex flex-row-reverse">
        <div class="img1 d-flex mr-3"></div>
        <div class="media-body">
          <h5 class="mt-0 font-weight-bold text-left"> قياس الضغط  </h5>
          <p class="text-left">
            يوجد لدى الصيدليه افضل اجهزة قياس الضغط وتوقر هذه الخمده لتوصيلها الى المنزل 
          </p>
        </div>
      </div>
      <div class="media col-sm-12 col-md-12 col-lg-6 d-flex flex-row-reverse">
        <div class="img2 d-flex mr-3"></div>
        <div class="media-body">
          <h5 class="mt-0 font-weight-bold text-left"> قياس السكر</h5>
          <p class="text-left">
          توفر الصيدليه خدمة قياس السكر باحدث الاجهزه الدقيقه ويمكن طلب هذه الخدمه الى المنزل 
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="media col-sm-12 col-md-12 col-lg-6 d-flex flex-row-reverse">
        <div class="img3 d-flex mr-3"></div>
        <div class="media-body">
          <h5 class="mt-0 font-weight-bold text-left"> تغير على الجروح </h5>
          <p class="text-left">
           توفر الصيدليه خدمة التغير على الجروح ويمكن طلبها الى المنزل فى حالة عدم المقدرة على النزول الى الصيدليه 
          </p>
        </div>
      </div>
      <div class="media col-sm-12 col-md-12 col-lg-6 d-flex flex-row-reverse">
        <div class="img4 d-flex mr-3"></div>
        <div class="media-body">
          <h5 class="mt-0 font-weight-bold text-left"> تركيب الادويه </h5>
          <p class="text-left">
        يتوفر لدى الصيدليه معمل معقم لتركيب الادويه وهذا طبقا لتوافر روجيته من الدكتور المعالج 
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="media col-sm-12 col-md-12 col-lg-6 d-flex flex-row-reverse">
        <div class="img5 d-flex mr-3"></div>
        <div class="media-body">
          <h5 class="mt-0 font-weight-bold text-left"> ما فى الجسم  </h5>
          <p class="text-left">
        لقياس الوزن والطول ونسبة الدهون فى الجسم والكتله العضليه فى الجسم ونبضات القلب وسرعة الحرق فى الجسم  (inbod)يتوفر لدى الصيدليه جهاز
          </p>  
        </div>
      </div>
      <div class="media col-sm-12 col-md-12 col-lg-6 d-flex flex-row-reverse">
        <div class="img6 d-flex mr-3"></div>
        <div class="media-body">
          <h5 class="mt-0 font-weight-bold text-left"> التوصيل  </h5>
          <p class="text-left">
            يوجد خدمة توصيل خلال 24 ساعه 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="endpage container-fluid">
  <div class="endX row col-sm-4 ">
    <a href="#">
      <img src="assets/logonav.png" alt="logo-pharmacy">
      Pharmacy
    </a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam similique quis rerum ut ipsum corporis
      adipisci perspiciatis libero ab inventore omnis fugiat ex, laboriosam impedit ipsam minima est magnam
      necessitatibus.</p>
  </div>
  <div class="contactX row col-sm-4 ">
    <h3>Contact</h3>
    <h6>Email: dinaaid3@gmail.com</h6>
    <h6>Phone: 01270011692</h6>
  </div>
  <div class="linkX row col-sm-4 ">
    <h3>Usefull Links</h3>
    <ul>
      <li><a href="">Home</a></li>
      <li> <a href="index.html#our">Our Services</a></li>
      <li> <a href="news.html">Medicines Lists</a></li>
      <li> <a href="">Contact Us</a></li>
      <li> <a href="signin.html">Sing In</a></li>
    </ul>
  </div>
</div>

<footer>
  &copy; all rights reserved Dina 2019
</footer>