
<div id="contact" class="text-center d-flex flex-wrap align-content-center">
    <article class="col-sm-12 mb-5 ">
      <h2> معلومات الاتصال </h2>
    </article>
  
    <div class="row col-sm-12">
        <div class="location col-sm-12 col-md-4">
            <img src="../../assets/placeholder.png" alt="" class="mb-5">
            <h3> العنوان  </h3>
            <p> *********شارع 50</p>
          </div>
          <div class="call col-sm-12 col-md-4">
            <img src="../../assets/call.png" alt="" class="mb-5">
            <h3> التلفون  </h3>
            <h4> الخط الساخن</h4>
            <p> 19***</p>
          </div>
          <div class="email col-sm-12 col-md-4">
            <img src="../../assets/mail.png" alt="" class="mb-5">
            <h3> البريد الالكترونى </h3>
            <a href="#">dinaaid3@gimal.com </a>
          </div>
    </div>
</div>