/* You can add global styles to this file, and also import other style files */

body {
  height: 100vh;
  margin: 0px;
  background-color: whitesmoke;
  background-image: url('./assets/download.svg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: #363768;
  position: relative;
}

.container-fluid {
  padding: 0px;
}

.dropdown-menu {
  background: #03aa978c;
}

.dropdown-menu a {
  color: #e8f2f8;
  background: #03aa978c;
}

.dropdown-menu a:hover {
  background-color: #363768;
  color: #03aa96;
}

article h1 {
  margin: 0px;
  margin-bottom: 30px;
  color: white;
  font-size: 80px;
  font-family: 'Carter One', cursive;
  text-shadow: 5px 5px 10px black;
  padding: 0px;
  padding-right: 0px;

}




.endpage {
  height: 50vh;
  /* width: 100%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: gray;
}

.endpage .endX a {
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 5px black;
  text-decoration: none;
}

.endpage .contactX {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: start;
}

.endpage .contactX h3 {
  padding-bottom: 20px;
  text-align: start;
}

.endpage .linkX {
  text-align: start;
  display: flex;
  flex-direction: column;
  align-content: center;

}

.endpage h3 {
  color: #03aa96;
}

.endpage .linkX li a {
  text-decoration: none;
  color: gray;
  padding: 0px 10px;
}

.endpage .linkX li {
  list-style: none;
  display: block;
  text-align: start;
  padding-bottom: 20px;
}

.endpage .linkX ul {
  padding: 0px;
}

.endpage .linkX a:hover {
  color: #e74e84;
}

footer {
  text-align: center;
  font-size: small;
  color: #363768;
  background-color: #e8f2f8;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(47, 48, 87, 0.281) ;
}

::-webkit-scrollbar-thumb {
  background-color:rgba(13, 133, 123, 0.466);
  border-radius: 12px;
}

@media screen and (max-width: 980px) {
  .our {
    height: auto;
  }

  .Services {
    height: auto;
    margin: 15px auto;
  }


  .inf {
    height: auto;
    padding: 10px;
  }

  .badel {
    margin: 20px;
  }

  .badel h3 {
    margin: 20px auto;
  }

  .endpage {
    height: auto;
    font-size: 10px;
  }

  .endpage h6 {
    font-size: 10px;
  }
}

@media screen and (max-width: 700px) {
  header {
    height: auto;
  }

  header article input {
    margin: 10px;
  }

  .endpage {
    height: auto;
    font-size: 10px;
    display: flex;
    align-content: flex-start;
    text-align: start;
  }

  .endpage .endX {
    width: 100%
  }

  .endpage .linkX {
    width: 100%;
    display: flex;
    align-content: flex-start;
    text-align: start;
  }

  .endpage .contactX {
    width: 100%;

    align-content: flex-start;
    text-align: start;
  }

}

