
<app-search></app-search>

<div id="page" class="text-center">
  <article class="col-sm-12">
    <h2>{{ 'home.Discover the missing medicine !' | translate }}</h2>
      <p > {{ 'home.Explain the method of searching for the medicine you want, finding information about it, booking it and the method of payment' | translate }}</p>
  </article>

  <div class="Find">
    <section></section>
    <h3> {{ 'home.Search a Medicine' | translate }}</h3>
    <p>
      {{ 'home.Type the name of the medicine you want to search for in Arabic or English and then click the Search button' | translate }}
    </p>
  </div>
  <div class="view">
    <section></section>
    <h3> {{ 'home.View' | translate }}</h3>
    <p>
      {{ 'home.The medicine will show you the picture and information about it available or not and the price' | translate }}
    </p>
  </div>
  <div class="bdel">
    <section></section>
    <h3>{{ 'home.Book a Medicine' | translate }}</h3>
    <p>
      {{ 'home.Then book the medicine and the pharmacy will communicate with you and pay the money when you receive the drug and make sure it' | translate }}
    </p>
  </div>
  <div class="find">
    <input type="submit" value=" {{ 'home.find a medicine' | translate }}" routerLink="medicines">
  </div>
</div>
<!-- inf -->
<div class="inf container ">
  <div class="article row">
    <h2 class="col-sm-12"> {{ 'home.Information on Medicines?!' | translate }}</h2>
    <p class="col-sm-12"> {{ 'home.Information' | translate }} </p>
  </div>
  <div class="row justify-content-between">
    <div class=" badel col-sm-5">
      <h3>{{ 'home.Originator / Brand-name Medicine' | translate }}  </h3>
      <p> {{ 'home.It is the innovator medicine created by a drug commpany after acostly procedure of development and research and the company holds the marketing rights for a specific period (patent)' | translate }} </p>
    </div>
    <div class=" badel col-sm-5">
      <h3>{{ 'home.Generic Medicine' | translate }}  </h3>
      <p> {{ 'home.other' | translate }}
      </p>
    </div>
  </div>
</div>

<div #ourServices id="ourServices" class="our container-fluid">
  <div class="Services container">
    <div class="row col-sm-12">
      <h2>{{ 'home.Our Services' | translate }}</h2>
    </div>
    <div class="row">
      <div class="media col-sm-12 col-md-12 col-lg-6">
        <div class="img1 d-flex mr-3"></div>
        <div class="media-body">
          <h5 class="mt-0 font-weight-bold"> {{ 'home.Pressure gauge' | translate }} </h5>
          {{ 'home.perssure' | translate }}
        </div>
      </div>
      <div class="media col-sm-12 col-md-12 col-lg-6">
        <div class="img2 d-flex mr-3"></div>
        <div class="media-body">
          <h5 class="mt-0 font-weight-bold"> {{ 'home.Measuring sugar' | translate }} </h5>
          {{ 'home.sugar' | translate }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="media col-sm-12 col-md-12 col-lg-6">
        <div class="img3 d-flex mr-3"></div>
        <div class="media-body">
          <h5 class="mt-0 font-weight-bold"> {{ 'home.Change the wounds' | translate }} </h5>
          {{ 'home.Change' | translate }}
        </div>
      </div>
      <div class="media col-sm-12 col-md-12 col-lg-6">
        <div class="img4 d-flex mr-3"></div>
        <div class="media-body">
          <h5 class="mt-0 font-weight-bold"> {{ 'home.Installation of medications' | translate }} </h5>
          {{ 'home.Installation' | translate }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="media col-sm-12 col-md-12 col-lg-6">
        <div class="img5 d-flex mr-3"></div>
        <div class="media-body">
          <h5 class="mt-0 font-weight-bold"> {{ 'home.Inbody' | translate }}</h5>
          {{ 'home.body' | translate }}
        </div>
      </div>
      <div class="media col-sm-12 col-md-12 col-lg-6">
        <div class="img6 d-flex mr-3"></div>
        <div class="media-body">
          <h5 class="mt-0 font-weight-bold">  {{ 'home.Delivery' | translate }}</h5>
          {{ 'home.delivery' | translate }}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="endpage container-fluid">
  <div class="endX row col-sm-4 ">
    <a href="#">
      <img src="assets/logonav.png" alt="logo-pharmacy">
      Pharmacy
    </a>
    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam similique quis rerum ut ipsum corporis
      adipisci perspiciatis libero ab inventore omnis fugiat ex, laboriosam impedit ipsam minima est magnam
      necessitatibus.</p> -->
  </div>
  <div class="contactX row col-sm-4 ">
    <h3>Contact</h3>
    <h6>Email: dinaaid3@gmail.com</h6>
    <h6>Phone: 01270011692</h6>
  </div>
  <div class="linkX row col-sm-4 ">
    <h3>Usefull Links</h3>
    <ul>
      <li><a href="">Home</a></li>
      <li> <a href="index.html#our">Our Services</a></li>
      <li> <a href="news.html">Medicines Lists</a></li>
      <li> <a href="">Contact Us</a></li>
      <li> <a href="signin.html">Sing In</a></li>
    </ul>
  </div>
</div>

<footer>
  &copy; all rights reserved Dina 2019
</footer>
